<div class="mat-dialog-title">
  <h1>Formulaire des Activités</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="postActivite()">
  <div class="mat-dialog-content" class="content">
    <div class="row">
      <mat-form-field>
        <mat-label>Titre</mat-label>
        <input matInput type="text" placeholder="Entrez la libellé" formControlName="titre">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <input matInput placeholder="Entrez la description de tache" formControlName="description">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button id="cancel" type="button" (click)="onCancel()" mat-raised-button>Annuler</button>
    <button mat-raised-button color="primary" type="submit">{{ data ? 'Mettre à jour' : 'Enregistrer'}}</button>
  </div>

</form>

