<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button  mat-icon-button (click)=" toggleSidebar()"><mat-icon>menu</mat-icon></button>
    <form action="#">
      <div class="form-input">
        <input type="search" placeholder="Recherche...">
        <button type="button" class="search-btn"><i class='bx bx-search' ></i></button>
      </div>
    </form>
    <a href="#" class="notification">
      <i class='bx bxs-bell' ></i>
      <span class="num">20</span>
     </a>
    <div class="row mr-2 ms">
      <ul>
        <li>
          <button mat-button [matMenuTriggerFor]="menu"
           class="user mt-2 d-flex align-items-center">
            <img src="../../assets/admin.jpg" alt="" class="user-image mr-1 p-2">
            Faiza Idoudi
            <mat-icon class="user-image-icon ml-1">
              keyboard_arrow_down</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item  (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Déconexion
            </button>
          </mat-menu>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
