<mat-nav-list *ngIf="showSidebar()">
  <h2 class="mt-2">CollaboratePro</h2>
  <a class="custom-list-item" routerLink="/accueil"
    routerLinkActive="list-item-active"><mat-icon>home</mat-icon>Accueil</a>
  <a class="custom-list-item" routerLink="/employee"
    routerLinkActive="list-item-active"><mat-icon>person</mat-icon>Employés</a>
  <a class="custom-list-item" routerLink="/chef"
    routerLinkActive="list-item-active"><mat-icon>supervisor_account</mat-icon>Chefs</a>
  <a class="custom-list-item" routerLink="/biblio"
    routerLinkActive="list-item-active"><mat-icon>description</mat-icon>Bibliothèque de Ressources</a>
  <a class="custom-list-item" routerLink="/chat" routerLinkActive="list-item-active"><mat-icon>forum</mat-icon>Communication et Collaboration</a>
  <a class="custom-list-item" routerLink="/tache"
    routerLinkActive="list-item-active"><mat-icon>assignment</mat-icon>Tâches</a>
  <a class="custom-list-item" routerLink="/activite"
    routerLinkActive="list-item-active"><mat-icon>directions_run</mat-icon>Activités</a>
</mat-nav-list>
