<section class="main">
  <div class="head-title">
    <div class="left">
      <h1>Tableau de bord</h1>
      <ul class="breadcrumb">
        <li>
          <a href="#">Tableau de bord</a>
        </li>
        <li><i class='bx bx-chevron-right' ></i></li>
        <li>
          <a class="active" href="#">Accueil</a>
        </li>
      </ul>
    </div>
    <a href="#" class="btn-download">
      <i class='bx bxs-cloud-download' ></i>
      <span class="text">Télécharger le PDF</span>
    </a>
  </div>
  <ul class="box-info">
    <li>
      <i class='bx bxs-calendar-check' ></i>
      <span class="text">
        <h3>1020</h3>
        <p>Projets Actifs </p>
      </span>
    </li>
    <li>
      <i class='bx bxs-group' ></i>
      <span class="text">
        <h3>2834</h3>
        <p>Collaborateurs Impliqués</p>
      </span>
    </li>
    <li>
      <i class='bx bx-check-circle' ></i>
      <span class="text">
        <h3>2943</h3>
        <p>Tâches Accomplies</p>
      </span>
    </li>
  </ul>
  <div class="middle-section">
    <div class="widget left">
      <app-rendement-par-mois></app-rendement-par-mois>
    </div>
    <div class="widget right">
      <app-categories></app-categories>
    </div>
  </div>
  <div class="bottom-section">
    <div class="widget left">
      <app-mise-ajour></app-mise-ajour>
    </div>
    <div class="widget right">
      <app-top-three-projects></app-top-three-projects>
    </div>
  </div>

</section>



