<div class="transactions">
  <div class="title">Derniéres Mises à jour des projets</div>
   <div class="transactions-wrapper">
    <div class="transaction" *ngFor="let transaction of transactions" >
      <div class="titre"> {{ transaction.titre }}</div>
      <div class="description"> {{ transaction.description }} </div>
      <div class="date">{{ transaction.date }}</div>
      <div class="statut" [ngClass]="getStatutClass(transaction.statut)"> {{ transaction.statut }} </div>
      <div class="responsable"> {{ transaction.responsable }} </div>
    </div>
   </div>
</div>
