<mat-drawer-container>
  <mat-drawer mode="side" [opened]="sideBarOpen">
    <app-side-nav></app-side-nav>
    <div class="login"  *ngIf="isLoginPage">
      <app-login-side-nav></app-login-side-nav>
    </div>
    <div class="signup" *ngIf="isInscriptionPage">
      <app-login-side-nav></app-login-side-nav>
    </div>
  </mat-drawer>
  <mat-drawer-content>
    <app-header *ngIf="!isLoginPage && !isInscriptionPage" (toggleSidebarForMe)="sideBarToggler()"></app-header>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>


